{% extends "base.html.twig" %}

{% block body %}

    <div class="container">
        <h1 class="mt-4"> Modificaton de l'ingrédient </h1>
    </div>
    {# Flash message pour l'ajout avec succès #}
    {% for message in app.flashes ('succes') %}
        <div class=" alert alert-succes">
            {{ message }}
        </div>
    {% endfor %}
    </div>

    {{ form_start(form) }}

    <div class=" form-groupe">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        <div class="form-error">
            {{ form_errors(form.name) }}
        </div>
    </div>
    <div class=" form-groupe">
        {{ form_label(form.price) }}
        {{ form_widget(form.price) }}
        <div class="form-error">
            {{ form_errors(form.price) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_row(form.submit) }}
    </div>

    </div>
    {{ form_end(form) }}
{% endblock %}